<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <script nonce="">
      window.initData = {};
    </script>
    <link rel="dns-prefetch" href="https://s3.amazonaws.com" />
    <title>TradingView Chart — TradingView</title>
    <!-- { block personal_css_bundle } -->

    <meta name="description" content="" />

    <link rel="canonical" href="" />

    <link rel="icon" href="https://static.tradingview.com/static/images/favicon.ico" />
    <meta name="application-name" content="TradingView" />

    <meta name="format-detection" content="telephone=no" />

    <link rel="manifest" href="https://static.tradingview.com/static/images/favicon/manifest.json" />

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#F8F9FD" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1E222D" />
    <meta name="apple-mobile-web-app-title" content="TradingView Site" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.tradingview.com/static/images/favicon/apple-touch-icon-180x180.png" />
    <link rel="link-locale" data-locale="en" href="https://www.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="in" href="https://in.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="de_DE" href="https://de.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="fr" href="https://fr.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="es" href="https://es.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="it" href="https://it.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="pl" href="https://pl.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="sv_SE" href="https://se.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="tr" href="https://tr.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="ru" href="https://ru.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="br" href="https://br.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="id" href="https://id.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="ms_MY" href="https://my.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="th_TH" href="https://th.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="vi_VN" href="https://vn.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="ja" href="https://jp.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="kr" href="https://kr.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="zh_CN" href="https://cn.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="zh_TW" href="https://tw.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="ar_AE" href="https://ar.tradingview.com/x/PNjhSyop" />
    <link rel="link-locale" data-locale="he_IL" href="https://il.tradingview.com/x/PNjhSyop" />
    <meta property="al:ios:app_store_id" content="1205990992" />
    <meta property="al:ios:app_name" content="TradingView - trading community, charts and quotes" />

    <meta property="og:site_name" content="TradingView" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="TradingView Chart" />
    <meta property="og:image" content="https://s3.tradingview.com/snapshots/p/PNjhSyop.png" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://www.tradingview.com/x/PNjhSyop" />

    <meta name="twitter:site" content="@TradingView" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://s3.tradingview.com/snapshots/p/PNjhSyop.png" />
    <meta name="twitter:title" content="TradingView Chart" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:url" content="https://www.tradingview.com/x/PNjhSyop" />
    <meta name="ahrefs-site-verification" content="f729ff74def35be4b9b92072c0e995b40fcb9e1aece03fb174343a1b7a5350ce" />
  </head>
  <body style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h3>Preview image (<%= title%>)</h3>
    <h5><%= subtitle%></h5>
    <h6><%= description%></h6>
    <img src="<%= image%>" />
  </body>
</html>
