<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>TradingView</title>

    <meta name="description" content="" />

    <meta property="og:site_name" content="TradingView" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="TradingView Chart" />
    <meta property="og:image" content="https://s3.tradingview.com/snapshots/p/PNjhSyop.png" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://www.tradingview.com/x/PNjhSyop" />

    <meta name="twitter:site" content="@TradingView" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://r707.ir/snapshots/ttt" />
    <meta name="twitter:title" content="TradingView Chartttt" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:url" content="https://www.tradingview.com/x/PNjhSyop" />
  </head>
  <body style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h3>Preview image (<%= title%>)</h3>
    <h5><%= subtitle%></h5>
    <h6><%= description%></h6>
    <img src="<%= image%>" />
  </body>
</html>
